<div class="container">
  <div class="row">
    <div class="col">
      <section>
        <header class="header">
          <div class="row">
            <div class="col-md-4">
              <h1>Users</h1>
            </div>
            <div class="col-md-6">
 
            </div>
            <div class="col-md-2">
              <button type="button" class="btn btn-primary" (click)="redirectNewUserPage()">New User</button>
            </div>
          </div>
 
        </header>
      </section>

      
<section class="main">
<div class="table-responsive">          
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Email</th>
        <th>Password</th>
        <th>MobileNo</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let user of users">
        <td>{{user.id}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.email}}</td>
        <td>{{user.password}}</td>
        <td>{{user.mobileNo}}</td>
        <td>
          <button type="button" class="btn btn-success" (click)="editUserPage(user)">Edit</button>
          <button type="button" class="btn btn-danger" (click)="deleteUser(user)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</section>
</div>
</div>
</div>